.item-container {
  max-width: 180px;
  padding: 20px;
}

.img {
  display: block;
  width: 50px;
  margin: 0 auto;
}

.details-container {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.name {
  font-weight: 500;
}

.rating {
  margin: 4px 0;
}

.actions {
  display: flex;
}

.button {
  width: 20px;
  font-size: 10px;
}
