.item-container {
  width: 90%;
  max-width: 340px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img {
  display: block;
  width: 50px;
  margin: 0 auto;
}

.details-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.name {
  font-weight: 500;
}

.rating {
  margin: 4px 0;
}

.actions {
  margin-top: 8px;
  display: flex;
  gap: 10px;
}

.actions button {
  color: #fff;
  background-color: #2874f0;
}

.actions button:hover {
  color: #fff;
  background-color: #2874f0;
}
