.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #fff;
  background-color: #176ca5;
}

.logo {
  font-weight: 500;
}

.link {
  color: white;
  text-decoration: none;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: auto;
  margin-right: 20px;
  font-size: 14px;
}
