.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #fff;
  background-color: #176ca5;
}

.logo {
  font-weight: 500;
}

.link {
  color: white;
  text-decoration: none;
}
